<header>
  <h1>{{ title }}</h1>

  <form (ngSubmit)="onSubmit()">
      <label for="search_term">Enter the search term:</label>
      <input [(ngModel)]="searchTerm" type="text" id="search_term" name="search_term" placeholder="Enter the search term like: nature, love or train">
      <button type="submit">Search</button>
  </form>
</header>

<div *ngIf="loading" class="loading_img">
  <div class="cssload-dots">
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
    </div>
    
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="12" ></feGaussianBlur>
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0	0 1 0 0 0	0 0 1 0 0	0 0 0 18 -7" result="goo" ></feColorMatrix>
        </filter>
      </defs>
    </svg>
</div>

<section class="search_results">
  <a *ngFor="let image of images" href="{{image.urls.regular}}" target="_blank" rel="noopener noreferrer"><figure><img src="{{image.urls.thumb}}" alt="{{image.description}} by {{image.user.username}}"><figcaption>{{image.description}} by {{image.user.username}}</figcaption></figure></a>
</section>

<footer>
Made October, 2018 by <a href="https://github.com/dmilojkovic76/img-search-frontend-vezba" alt="dmilojkovic githib">dmilojkovic</a>. Loading spinner made by <a href="https://codepen.io/codecalm/#" alt="Paweł Kuna">Paweł Kuna</a>.
</footer>
